<p id="notice"><%= notice %></p>

<h1>Listing Mundos</h1>

<table>
  <thead>
    <tr>
      <th>Pelicula</th>
      <th>Series</th>
      <th>Videojuegos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mundos.each do |mundo| %>
      <tr>
        <td><%= mundo.pelicula %></td>
        <td><%= mundo.series %></td>
        <td><%= mundo.videojuegos %></td>
        <td><%= link_to 'Show', mundo %></td>
        <td><%= link_to 'Edit', edit_mundo_path(mundo) %></td>
        <td><%= link_to 'Destroy', mundo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mundo', new_mundo_path %>
