<%= form_for(@peli) do |f| %>
  <% if @peli.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@peli.errors.count, "error") %> prohibited this peli from being saved:</h2>

      <ul>
      <% @peli.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Peliculas %><br>
    <%= f.text_field :Peliculas %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
